## host / container mappings should align to docker-compose.yml
data_dir=/opt/data/<your organisation> 
data_dir_host=./data/<your organisation>

## source data file containing ntriples
input_file=<your source file>

## directory for the mapping files
## these should also align with docker-compose.yml
mappings_dir=/opt/mappings/<your organisation>
mappings_dir_host=./mappings/<your organisation>

## mapping query to use for the conversion 
## the query should refer to the graph definitions below
mapping_query=<your mapping script>

## graph to load the raw data into
dest_graph=http://example.org/raw/

## graph to store the converted edm data
edm_graph=http://example.org/edm/

## Virtuoso administrator password
DBA_PASSWORD=dba

### not a real need to make changes below 
### only if you know what you are doing ;)

## generic scripts for loading, mapping and storing the data
## run from with the Virtuoso container
scripts_dir=/opt/scripts

## authorized directories for reading data
VIRT_Parameters_DirsAllowed=.,../vad,/opt/data,/opt/mappings

## allocate about 8Gb of memory 
VIRT_Parameters_NumberOfBuffers=680000
VIRT_Parameters_MaxDirtyBuffers=500000

## set this to 1/4th of NumberOfBuffers
VIRT_Database_MaxCheckpointRemap = 170000

## this limit applies also for crud graph dump procedure 
VIRT_SPARQL_ResultSetMaxRows=10000000

## avoid timeout problems with SPARQL queries
VIRT_SPARQL_MaxQueryCostEstimationTime=80000000
VIRT_SPARQL_MaxQueryExecutionTime=60000000

## Unused Virtuoso parameters
# DEFAULT_GRAPH=             
# SPARQL_UPDATE=true
# VIRT_Parameters_ThreadThreshold=25
# VIRT_Parameters_MaxStaticCursorRows=20000
# VIRT_Parameters_MaxClientConnections=50
# VIRT_Parameters_PageMapCheck=0
# VIRT_Parameters_CheckpointSyncMode=0
# VIRT_Parameters_CheckpointInterval=0
# VIRT_HTTPServer_ServerThreads=100
# VIRT_HTTPServer_MaxKeepAlives=100