# Virtuoso administrator password
DBA_PASSWORD=dba

# Not a real need to make changes below - only if you know what you are doing ;)

# Authorized directories for reading data
VIRT_Parameters_DirsAllowed=.,../vad,/opt/data,/opt/mappings

# Allocate about 8Gb of memory
VIRT_Parameters_NumberOfBuffers=680000
VIRT_Parameters_MaxDirtyBuffers=500000

# Set this to 1/4th of NumberOfBuffers
VIRT_Database_MaxCheckpointRemap=170000

# This limit applies also for crud graph dump procedure
VIRT_SPARQL_ResultSetMaxRows=10000000

# Avoid timeout problems with SPARQL queries
VIRT_SPARQL_MaxQueryCostEstimationTime=80000000
VIRT_SPARQL_MaxQueryExecutionTime=60000000

# Unused Virtuoso parameters
# DEFAULT_GRAPH=
# SPARQL_UPDATE=true
# VIRT_Parameters_ThreadThreshold=25
# VIRT_Parameters_MaxStaticCursorRows=20000
# VIRT_Parameters_MaxClientConnections=50
# VIRT_Parameters_PageMapCheck=0
# VIRT_Parameters_CheckpointSyncMode=0
# VIRT_Parameters_CheckpointInterval=0
# VIRT_HTTPServer_ServerThreads=100
# VIRT_HTTPServer_MaxKeepAlives=100
